body {
    font-size: 3rem;
    font-family: "Poppins", sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    padding: 1rem;
    align-items: center;
    background: linear-gradient(to right, #071f95, #e63232);
    color: rgba(182, 156, 156, 0.554);
     }